<div> Connection au service Github :  </div> <login-buttons></login-buttons>

<br/>
<br/>


<md-radio-group ng-model="github.userselected" ng-required="true">
  <md-radio-button class="md-primary" value="mine" name="userselected" aria-label="mine account github">Mon compte</md-radio-button>
  <div layout="row" >
    <md-radio-button style="margin-top: 10px;" class="md-primary" value="other" name="userselected" aria-label="other account github" ></md-radio-button>
    <md-input-container>
      <label for="input_170">Autre compte</label>
      <input aria-invalid="false" id="input_170" class="ng-pristine ng-valid md-input ng-touched" ng-model="github.otherAccount">
    </md-input-container>
  </div>
  <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-click="github.getRepo()">Obtenir les repos</button>
</md-radio-group>


<md-list role="list" ng-hide="github.showRepos" ng-required="true">
  <h3 class="ng-binding">Sélection du repository : </h3>
  <md-input-container>
    <label for="input_170">Recherche</label>
    <input aria-invalid="false" id="search_input" class="ng-pristine ng-valid md-input ng-touched" ng-model="github.searchRepo" ng-change="github.currentPageRepo = 0">
  </md-input-container>
  <md-radio-group ng-model="github.reposelected">
    <md-list-item ng-repeat="repo in github.reposUser
      | filter:github.searchRepo
      | startFrom:github.currentPageRepo*10
      | limitTo:10">
      <md-radio-button value="{{ repo.name }}" name="repoRadio">
        {{ repo.name }}
      </md-radio-button>
    </md-list-item>
    <div ng-hide="github.numberOfPagesRepo == 0 || github.searchRepo">
      <button class="md-icon-button md-primary md-button md-ink-ripple" ng-disabled="github.currentPageRepo == 0" ng-click="github.currentPageRepo=github.currentPageRepo-1">
        <i class="fa fa-arrow-circle-left fa-3"></i>
      </button>
        {{github.currentPageRepo+1}}/{{github.numberOfPagesRepo}}
      <button class="md-icon-button md-primary md-button md-ink-ripple" ng-disabled="github.currentPageRepo >= github.reposUser.length/10 - 1" ng-click="github.currentPageRepo=github.currentPageRepo+1">
        <i class="fa fa-arrow-circle-right fa-3"></i>
      </button>
    </div>
  </md-radio-group>
  <br/>
  <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-click="github.getPr(github.reposelected)">Obtenir les pull requests</button>
</md-list>


<md-list ng-hide="github.showPr" >
  <h3 class="ng-binding">Sélection de la pull request : </h3>
  <md-radio-group ng-model="github.reposelected">
    <md-list-item ng-repeat="pullRequest in github.pullRequests">
      <md-radio-button value="{{ pullRequest.name }}" name="prRadio" >
        Titre : {{ pullRequest.title }} - Url : <a href="{{ pullRequest.html_url }}" target="_blank"> {{ pullRequest.html_url }} </a>
      </md-radio-button>
    </md-list-item>
  </md-radio-group>
  <br/>
  <button class="md-raised md-primary md-button md-ink-ripple" type="button">Comparer cette Pull Request</button>
</md-list>
