<div> Connection au service Github :  </div> <login-buttons></login-buttons>



<ul ng-hide="github.showRepos" >
  <h3 class="md-no-sticky">Sélection du repository : </h3>
  <li ng-repeat="repo in github.reposUser">
    <input type="radio" ng-model="github.reposelected" value="{{ repo.name }}" name="repoRadio" >
    {{ repo.name }}
  </li>
  <button type="button" class="btn btn-default" ng-click="github.getPr(github.reposelected)">Obtenir les pull requests</button>
</ul>


<ul ng-hide="github.showPr" >
  <h3 class="md-no-sticky">Sélection de la pull request : </h3>
  <li ng-repeat="pullRequest in github.pullRequests">
    <input type="radio" ng-model="github.prselected" value="{{ pullRequest.name }}" name="prRadio" >
    Titre : {{ pullRequest.title }} - Url : <a href="{{ pullRequest.html_url }}" target="_blank"> {{ pullRequest.html_url }} </a>
  </li>
  <button type="button" class="btn btn-default">Comparer cette Pull Request</button>
</ul>
